save_max/epoch*
save_max_mlp/epoch*
checkpoint/whl/epoch*
checkpoint_mlp/whl/epoch*
__pycache__
nohup.out
output.txt
dataset/coin/full_npy/*
dataset/coin/COIN_s3d.zip
dataset/NIV/processed_data
dataset/NIV/NIV_s3d.zip
dataset/ViT-B-32__openai
dataset/crosstask/crosstask_features/*
dataset/crosstask/crosstask_release/annotations/*
dataset/crosstask/processed_data/*
dataset/crosstask/crosstask_features.zip
dataset/crosstask/crosstask_release.zip
dataset/crosstask/CrossTask_s3d.zip
modelscope/
out/